body{
    background-color:black;

}
.thanks{
    padding-top:100px;
text-align: center;

}

.title1{
    color: #ffffff;
    text-align: center;
}

.order-link{
    text-decoration: none;
    font-size: 2rem;
    color:orange;
}

.order-link:hover{
    color:#12BD2F;
}
.order{
    text-align: center;
    
}
